@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
/* Mobile first approach */
/* this defines how the body should appear, with both size and layout on mobile size. */
body { 
  min-width: 300px; 
  margin: 0 auto; /* Center align once max-width is reached */
  padding: 5px 10px; 
  background-color: rgb(255, 255, 255); 
  display: grid;
  grid-template-areas:
  'top'
  'hero'
  'info'
  'info'
  'bottom';
}
header { grid-area: top; background-color: rgb(255, 255, 255); }
section#hero { grid-area: hero; background-color: rgb(255, 255, 255); }
section#info {grid-area: info; background-color: white;}
footer { grid-area: bottom;   background-color:#3f3f3f; }
/*Start of Nav menu*/
header {
  margin: 5px 0;
  position: relative;
  background-color:white;
  width: 100%;
  background-color: white;
}
header hr {
  width: 100%;
  font-size: 20px;
  border: 1px solid rgba(67, 24, 146, 1);
}
#logo {
  height:60px;
}
nav {
  display: none;
}

#hamburger-menu{
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}
label[for=hamburger-menu] { 
font-size: 3em;
position: absolute;
right: 0px;
top: 10px; 
}
label[for=hamburger-menu]:hover {
  cursor:pointer;
}
  header nav ul { 
    list-style-type: none;
    display: inline-block; 
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top:10px;
}
header nav ul li {     
    margin-bottom: 2px; 
}
header nav ul li a { 
    text-decoration: none; 
    color: white; 
    background: #D9D9D9;
    padding: 15px 15px;
    display: block; 
    text-align: center;
    font-family:'Sora', sans-serif; 
}
header nav ul li a.active {
  background-color:#f6fa00;
  color:black;
}
header nav ul li a.inactive{
  color:#f6fa00;
  background-color: rgb(0, 131, 207)
}
header nav ul li a.inactive:hover {
  transition: 0.4s;
  background-color: #f6fa00;
  color:black;
}
header nav ul li:last-child {
   margin-bottom: 0;
}
/*End of Nav menu*/

/*Start of boxes*/
.box {
  width: 100%;
  background-color: white;
  text-align: center;
  display: inline-block;
  position: relative;
}
#header_img {
  width: 80%;
}
#header_txt {
  position: absolute;
  top:7%;
  font-family: 'Orbitron', sans-serif;
  font-style: bold;
  color:white;
  text-align: right;
  font-size: 25px;
  width: 80%;
  color:rgb(255, 238, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.sub-header {
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: large;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}
Section#info h3 {
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: larger;
  align-items: center;
  text-align: center;
  margin-top: 30px;;
}

Section#info p {
  font-family: 'Sora', sans-serif;
  font-weight: 300;
  font-size: large;
  align-items: center;
  text-align: center;
  margin-top: 2px;;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.K_info {
width: 100%;
background-color:rgba(0, 189, 166, 1);
height: 500px;
}
#icon {
  display: grid;
  margin-left: auto;
  margin-right: auto;
}
.T_info {
  height: 500px;
background-color:rgba(46, 44, 129, 1);
}
.T_info h3{
  color:white;
}
.T_info p{
  color:white;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.R_info {
background-color:rgb(241, 255, 81);
height: 370px;
}
footer {
  background: #1A1E25;
  color: #868c96;
  }
  footer h2 {
    font-family: Orbitron;
    align-items: center;
    text-align: center;
  }
  footer p {
  text-align: center;
  font-family: Sora;
  }
@media (min-width: 640px) {
  body {
    background-color:white;
    display: grid;
    grid-template-areas:
    'top'    'top'
    'hero'   'hero'
    'info'   'info'
    'bottom' 'bottom';
  }
  header { grid-area: top; background-color: rgb(255, 255, 255); }
  section#hero { grid-area: hero; background-color: rgb(255, 255, 255); }
  section#info {grid-area: info; background-color: white;}
  #info_img {
    margin-right: auto;
    margin-left: auto;
    height: 375px;
  }
  header nav ul li a { 
    padding: 9px 9px;
}
.T_info {
  height: 430px;
}
.R_info {
  height: 350px;
}
}

@media (min-width: 800px) {

  body {
    background-color:white;
    display: grid;
    grid-template-areas:
    'top'    'top'
    'hero'   'hero'
    'info'   'info'
    'bottom' 'bottom';
  }
  header { grid-area: top; background-color: rgb(255, 255, 255); }
  section#hero { grid-area: hero; background-color: rgb(255, 255, 255); }
  section#info {grid-area: info; background-color: white;}
  header {
    align-items: center;
    display: inline-block;
  }
  nav ul li {
    display:inline-block;
  }
  nav {
    display: block; 
    float: right;
  }
  #hamburger-menu     {
    display: none;  
  }
  #hamburger-menu:checked ~ nav {
    display: none; 
  }
  #header_txt {
    font-size: 35px;
  }
  label[for=hamburger-menu] { 
  display: none; 
  }
  header nav ul li a { 
    padding: 15px 15px;
  }
}

@media (min-width: 1024px) {
  body {
    background-color:white;
    max-width: 1280px; 
    grid-template-areas:
    'top    top    top    top'
    'hero   hero   hero   hero'
    'info' 'info' 'info' 'info'
    'bottom bottom bottom bottom';}
  header { grid-area: top; background-color: white; }
  section#hero { grid-area: hero; background-color: white; }
  section#info {grid-area: info; background-color: white;}

  header {
    align-items: center;
    display: inline-block;
  }
  nav ul li {
    display:inline-block;
  }
  nav {
    display: block; 
    float: right;
  }
  
  #hamburger-menu     {
    display: none;
  }
  
  #hamburger-menu:checked ~ nav {
    display: none;
  }
  label[for=hamburger-menu] { 
  display: none; 
  }
  .R_info {
    height: 300px;
  }
  .T_info {
    height: 370px;
  }
  #img1 {
    width: 90%;
  }
  footer {
    background: #1A1E25;
    color: #868c96;
    }
  }

