
/* Mobile first approach */
/* this defines how the body should appear, with both size and layout on mobile size. */
body { 
  min-width: 300px; 
  margin: 0 auto; /* Center align once max-width is reached */
  padding: 5px 10px; 
  background-color: rgb(255, 255, 255); 
  display: grid;
  grid-template-areas:
  'top'
  'hero'
  'info'
  'info'
  'boxes'
  'footer';
}

header { grid-area: top; background-color: rgb(255, 255, 255); }
section#hero { grid-area: hero; background-color: rgb(255, 255, 255); }
section#info {grid-area: info; background-color: pink;}
section#boxes { grid-area: boxes; background-color: rgb(255, 255, 255) }
footer { grid-area: bottom;   background-color:#3f3f3f; }

header {
  margin: 5px 0;
  position: relative;
  background-color:white;
  width: 100%;
  background-color: white;
}

#logo {
  height:70px;
}

nav {
  display: none; /* By default hide the menu */

}

#hamburger-menu     {
  display: none; /* Hide checkbox */ 
}

#hamburger-menu:checked ~ nav {
  display: block; /* Display nav block when checkbox is checked only */ 
}


label[for=hamburger-menu] { 
font-size: 3em;
position: absolute; /* header is relative */
right: 0px;
top: 10px; 
}

label[for=hamburger-menu]:hover {
  cursor:pointer;
}
  /* Style the menu itself */ 
  header nav ul { 
    list-style-type: none;
    display: inline-block; 
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top:10px;

}

header nav ul li {     
    margin-bottom: 2px; 

}
header nav ul li a { 
    text-decoration: none; 
    color: white; 
    background: #D9D9D9;
    padding: 15px 15px;
    display: block; 
    text-align: center;
    font-family:"gilroy"; 
}

header nav ul li a.active {
  background-color:#f6fa00;
  color:black;
}

header nav ul li a.inactive{
  color:#f6fa00;
  background-color: rgb(0, 131, 207)
}

header nav ul li a.inactive:hover {
  transition: 0.4s;
  background-color: #f6fa00;
  color:black;
}
header nav ul li:last-child {
   margin-bottom: 0;
}
@media (min-width: 640px) {

  body {
    background-color:aqua;
    display: grid;
    grid-template-areas:
    'top'    'top'
    'hero'   'hero'
    'info'   'info'
    'boxes'  'boxes'
    'footer' 'footer';
  }

}


/* For wider screens */
@media (min-width: 1024px) {
  body {
    background-color:white;
    max-width: 1280px; 
    grid-template-areas:
    'top    top    top    top'
    'hero   hero   hero   hero'
    'boxes   boxes  boxes  boxes'
    'bottom bottom bottom bottom';
  }

  #hero {
    width: 700px;
    background-color: blue;
  }
  #img1 {
    height: 500px;
  }
  label[for=hamburger-menu] {
    display:none;
  }
  header nav {
    display: block;
    float:right;
  }
  header nav ul { 
    list-style-type: none; /**/
    display: inline-block; /**/
    padding-left: 0;/**/
  }
  header nav li { 
      float: left; /**/
      background-color: #000; /**/
  }
  header nav li a { 
      text-decoration: none; /**/
      width: 100px; /**/
      display: inline-block; /**/
      color: #fff; /**/
      padding: 2px 3px; /**/
      text-align: center; /**/
  }
  header nav li:last-child {
      margin-right: 0; /**/
  }

}

