@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
/* Mobile first approach */
/* this defines how the body should appear, with both size and layout on mobile size. */
body { 
  min-width: 300px; 
  margin: 0 auto; /* Center align once max-width is reached */
  padding: 5px 10px; 
  background-color: rgb(255, 255, 255); 
  display: grid;
  grid-template-areas:
  'top'
  'hero'
  'info'
  'info'
  'bottom';
}
header { grid-area: top; background-color: rgb(255, 255, 255); }
section#hero { grid-area: hero; background-color: rgb(255, 255, 255); }
section#info {grid-area: info; background-color: white;}
footer { grid-area: bottom;   background-color:#3f3f3f; }
/*Start of Nav menu*/
header {
  margin: 5px 0;
  position: relative;
  background-color:white;
  width: 100%;
  background-color: white;
}
#logo {
  height:70px;
}
nav {
  display: none; /* By default hide the menu */
}

#hamburger-menu     {
  display: none; /* Hide checkbox */ 
}

#hamburger-menu:checked ~ nav {
  display: block; /* Display nav block when checkbox is checked only */ 
}
label[for=hamburger-menu] { 
font-size: 3em;
position: absolute; /* header is relative */
right: 0px;
top: 10px; 
}
label[for=hamburger-menu]:hover {
  cursor:pointer;
}
  /* Style the menu itself */ 
  header nav ul { 
    list-style-type: none;
    display: inline-block; 
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top:10px;
}
header nav ul li {     
    margin-bottom: 2px; 
}
header nav ul li a { 
    text-decoration: none; 
    color: white; 
    background: #D9D9D9;
    padding: 15px 15px;
    display: block; 
    text-align: center;
    font-family:'Sora', sans-serif; 
}
header nav ul li a.active {
  background-color:#f6fa00;
  color:black;
}
header nav ul li a.inactive{
  color:#f6fa00;
  background-color: rgb(0, 131, 207)
}
header nav ul li a.inactive:hover {
  transition: 0.4s;
  background-color: #f6fa00;
  color:black;
}
header nav ul li:last-child {
   margin-bottom: 0;
}
/*End of Nav menu*/
footer {
  background: #1A1E25;
  color: #868c96;
  }
  
  footer p {
  padding: 40px 0;
  text-align: center;
  }
  
  footer img {
  width: 44px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:40px;
  }
/*Start of boxes*/
section#boxes {
  width: 100%;
  background-color: white;
}
.box {
  width: 100%;
  background-color: white;
  text-align: center;
  display: inline-block;
  position: relative;
}

.info {
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
  display: block;
}
.info h2 {
  color:black;
  position: relative;
  top:2%;
  font-family: 'Sora', sans-serif;
  font-style: bold;
  align-items: center;
  font-size: 30px;
  width: 100%;
  text-align: center;
}
.info p {
  color:black;
  position: relative;
  top:2%;
  font-family: 'Sora', sans-serif;
  font-style: bold;
  align-items: center;
  font-size: 18px;
  max-width: 400px;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
}
.info hr {
  width: 30%;
  font-size: 20px;
  border: 1px solid rgba(89, 0, 202, 1);
}
.box2 {
  width: 100%;
  background-color: white; 
  text-align: center;
  align-items: center;
  display: inline-block;
  position: relative;
}
.box2 h2 {
  text-align: center;
  position: relative;
  color:white;
}
.box2 p{
  text-align: center;
  position: relative;
  color:white;
  font-weight: 20px;
}
.copy {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  width: 80%;
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: large;
}
#img3 {
  width: 100%;
}
#img1 {
  width: 100%;
}
#header_txt {
  position: absolute;
  top:7%;
  font-family: 'Orbitron', sans-serif;
  font-style: bold;
  color:white;
  text-align: right;
  font-size: 25px;
  width: 80%;
  color:rgb(255, 255, 255);
}
#header_txt2 {
  align-items: center;
  max-width: 80%;
}
#header_txt2 h2{
  position: absolute;
  top:5%;
  font-family: 'Sora', sans-serif;
  font-style: bold;
  align-items: center;
  font-size: 30px;
  width: 100%;
  text-align: center;
}
#header_txt2 p{
  position: absolute;
  top:5%;
  font-family: 'Sora', sans-serif;
  font-style: bold;
  align-items: center;
  font-size: 30px;
  width: 100%;
  text-align: center;
}
#footer {
  grid-area:bottom;
  width: 100%;
}
#img2 {
  width: 100%;
}
@media (min-width: 640px) {
  body {
    background-color:white;
    display: grid;
    grid-template-areas:
    'top'    'top'
    'hero'   'hero'
    'info'   'info'
    'bottom' 'bottom';
  }
  header { grid-area: top; background-color: rgb(255, 255, 255); }
  section#hero { grid-area: hero; background-color: rgb(255, 255, 255); }
  section#info {grid-area: info; background-color: white;}
  footer { grid-area: bottom;   background-color:#3f3f3f; }
  #info_img {
    margin-right: auto;
    margin-left: auto;
    height: 375px;
  }
  header nav ul li a { 
    padding: 9px 9px;
}
@media (min-width: 800px) {

  body {
    background-color:white;
    display: grid;
    grid-template-areas:
    'top'    'top'
    'hero'   'hero'
    'info'   'info'
    'boxes'  'boxes'
    'bottom' 'bottom';
  }
  header { grid-area: top; background-color: rgb(255, 255, 255); }
  section#hero { grid-area: hero; background-color: rgb(255, 255, 255); }
  section#info {grid-area: info; background-color: white;}
  footer { grid-area: bottom;   background-color:#3f3f3f; }
  header {
    align-items: center;
    display: inline-block;
  }
  nav ul li {
    display:inline-block;
  }
  nav {
    display: block; 
    float: right;
  }
  #hamburger-menu     {
    display: none;  
  }
  #hamburger-menu:checked ~ nav {
    display: none; 
  }
  #header_txt {
    font-size: 35px;
  }
  label[for=hamburger-menu] { 
  display: none; 
  }
  header nav ul li a { 
    padding: 15px 15px;
  }
}

@media (min-width: 1024px) {
  body {
    background-color:white;
    max-width: 1280px; 
    grid-template-areas:
    'top    top    top    top'
    'hero   hero   hero   hero'
    'info' 'info' 'info' 'info'
    'boxes   boxes  boxes  boxes'
    'bottom bottom bottom bottom';}
  }
  header { grid-area: top; background-color: white; }
  section#boxes { grid-area: boxes; background-color: white; }
  section#hero { grid-area: hero; background-color: white; }
  section#info {grid-area: info; background-color: white;}
  footer { grid-area: bottom;   background-color:#3f3f3f; }

  header {
    align-items: center;
    display: inline-block;
  }
  nav ul li {
    display:inline-block;
  }
  nav {
    display: block; 
    float: right;
  }
  
  #hamburger-menu     {
    display: none; /* Hide checkbox */ 
  }
  
  #hamburger-menu:checked ~ nav {
    display: none; /* Display nav block when checkbox is checked only */ 
  }
  .info {
    display:inline-block;
    width: 49%;
    height: 350px;
    background-color: white;

  }
  .info h2 {
    color:black;
    position: relative;
    top:2%;
    font-family: 'Sora', sans-serif;
    font-style: bold;
    align-items: center;
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  .info p {
    color:black;
    position: relative;
    top:2%;
    font-family: 'Sora', sans-serif;
    font-style: bold;
    align-items: center;
    font-size: 18px;
    max-width: 400px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
  }
  .info hr {
    width: 30%;
    font-size: 20px;
    border: 1px solid rgba(89, 0, 202, 1);
  }
  label[for=hamburger-menu] { 
  display: none; 
  }
  footer {
  background: #1A1E25;
  color: #868c96;
  }

  footer p {
  padding: 40px 0;
  text-align: center;
  }

  footer img {
  width: 44px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:40px;
  }
}